html,body,p{
  width:100%;
  height: 100%;
  margin:0;
  padding: 0;
  font-family: "微软雅黑";
}
a{
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: transparent;
}
h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.clear{
  zoom:1;
}
.clear:after{
  content: '';
  display: block;
  clear: both;
}
