h3,ul,li,button{
	margin:0;
	margin-left:0;
	margin-right:0;
	padding: 0;
	border:none;
}
a{
	text-decoration: none;
}
ul{
	/*width: 100%;*/
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	margin: 5px;

}
.person{
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 5px;
}
.person p{
	text-align: left;

}
.person input{
	border: 1px solid black;

}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.goodscart ul>li{
	width: 90%;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	height: 80px;
	float: left;
	margin:0;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
	position: relative;

}
.goodscart ul>li>img{ 
	margin-left: 10px;
	float: left;
	width: 70px;
	height: 70px;
	border:1px solid #ccc;
}
.goodscart ul>li>span{
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.mesg input{
	text-align: center;
	float: left;
	width: 20px;
	height: 20px;
}
.mesg em{
	float: left;
	font-size: 20px;
	width: 20px;
	line-height: 20px;
	height: 20px;
	border: 1px solid #ccc;
}
.box{
	padding-left: 10px;
	float: left;
}
.box h3{
	/*float: left;*/
	text-align: left;
}
.box strong{
	display: block;
	text-align: left;
}
.footer{
	float: left;
	width: 100%;
	padding: 5px 30px;
}
.footer strong{
	float: right;
}
.goodscart>button{	
	font-size: 20px;
	color: white!important;
	font-weight: bold;
	float: left;
	width: 80%;
	text-align: center;
	border-radius: 4px;
	background: #f63;
	padding:10px 0;
	margin-left: 50%;
	transform: translateX(-50%);
}